@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Jost:wght@700&display=swap');


body {
  font-family: 'Jost', sans-serif;
    background-color: aqua;
    margin: 0%;
}
/*--------------------------------------------------------------------- PAGINA CICLISMO---------------------------------*/

#box-texto{
  
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 891px ;       
    height: 1533px ;
    padding: 120px;
    text-align: justify;
    font-size: 20px;
   background-color: rgb(255, 255, 255);
   border-radius: 20px;
   border-width: 1px;
   box-shadow: 1px 1px 10px rgba(77, 77, 77, 0.5);
    
}


/*--------------------------------------------------------------------------------- BARRA DE MENU --------------------------*/
.MenuPrincipal {
    font-family: 'Dosis', sans-serif;
    font-family: 'Jost', sans-serif;
    position: fixed;
    top: 0%;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 70px;
    font-size: 45px;
    font-weight: bolder;
    padding-left: 195px;

}

.MenuDeLista{
  position: absolute;
    top: 0px;
    right: 64px;
    line-height: 70px;
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 70px;

}

.ListaDeNavegacao{
    position: absolute;
    top: -8px;
    margin: 0px;
    height: 70px;
    list-style-type: none;
    color: rgb(255, 255, 255);

}

.lista{
  
display: inline;
padding: 03px 15px;
font-size: 16px;


}


.espacamentoEntreLMenu{
    text-decoration: none;
    color: rgb(255, 255, 255);

}




/*-------------------------------------------------------------------para fazer o link da pagina principal---------------------------*/
.texdecoration{
    text-decoration: none;
    color: rgb(255, 255, 255);
}



/*----------------------------------------------------------------------- CALCULADORA ---------------------------------*/

  
  #temaCalculadora{
    margin-left:auto;
    margin-right:auto;
    margin-top: 220px;   
    background: linear-gradient(to bottom right,  #0f0f0f, #22a5e5);
  }
  
  .form {
    background-color: #fff;
    height: 240px;
    width: 450px;
    border-radius: 20px;
    margin: 20px auto 20px auto;
    display: block;
    border: solid 1px #289df6;
    
    box-shadow: 0 0 40px 0 rgb(248, 246, 246);
  }
  
  .form:hover {
    box-shadow: 0 0 60px 0 #ccc;
    transition: .4s;
    transform: scale(1.02);
  }
  
  .row-one {
    padding: 20px;
  }
  
  .row-two {
    padding: 20px;
  }
  
  .text-input {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color: #dbeffe;
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .text-input:last-child {
    margin-bottom: 35px;
  }
  
  .text-input:hover {
    background-color: #20b3d4;
  }
  
  #submit {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 140px;
    background-color: #289df6;
    color: rgb(0, 0, 0);
    margin: auto;
    display: block;
    outline: none;
    cursor: pointer;
  }
  
  #submit:hover{
    background-color: #0a8ef2;
    font-weight: bold
  }
  
  .text {
    display: inline-block;
    margin: 5px 20px 5px 8px;;
    font-weight: bold
  }
  
  .row-one {
    padding: 30px 20px 15px 20px;
  }
  .row-two {
    padding: 15px 20px 30px 20px;
  }
  
  .container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #cbe7fd;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #cbe7fd;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #289df6;
  }
  
  h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #fafafa;
    padding-top: 15px;
    display: block;
  }
  
 
  
  h3 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding: 15px;
  }
  
  h3 b {
    font-size: 32px;
    font-weight: 300;
    color: #fcfcfc;
    font-weight: bold
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
    